<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="77" android:versionName="4.93" package="com.nejman.nsec.music_player" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="29" />
	<application android:allowBackup="true" android:icon="@mipmap/app_icon" android:label="Newtone" android:roundIcon="@mipmap/icon_round" android:appCategory="audio" android:requestLegacyExternalStorage="true"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc" />
</manifest>